{% extends 'base.html' %}


{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_add.css') }}">
{% endblock %}


{% block content %}
    <form action="{{ url_for('add') }}" method="post">
        <div class="form">
            <h2>Добавить книгу</h2>

            {% for cat, msg in get_flashed_messages(True) %}
                <p class="message {{ cat }}">{{ msg }}</p>
            {% endfor %}

            <p><input type="text" name="title" placeholder="Название" class="form-item"></p>
            <p><input type="text" name="url" placeholder="URL" class="form-item"></p>
            <p><input type="text" name="author" placeholder="Автор" class="form-item"></p>
            <p><input type="text" name="publish" placeholder="Издательство" class="form-item"></p>
            <p><input type="number" min="1900" max="2023" name="year" placeholder="Год издания" class="form-item"></p>
            <p><input type="number" min="1" name="pages" placeholder="Количество страниц" class="form-item"></p>
            <p><input type="number" min="1" name="price" placeholder="Цена" class="form-item"></p>
            <p><input type="file" name="image" class="form-item"></p>
            <p><textarea name="description" rows="10" placeholder="Описание"></textarea></p>
            <p><input type="submit" value="Добавить" class="form-item"></p>
        </div>
    </form>
{% endblock %}