{% extends 'first_app/base.html' %}


{% block content %}
    {% include 'user/add_page.html' %}
    <h1>Мои пароли</h1>
    {% if not passwords %}
        <p class="notpass">У вас не добавлено ни одного пароля</p>
    {% endif %}
    {% for password in passwords %}
        <div class="pass">
            <p class="password">
                {{ password.password }}
            </p>
            <p>
                <a href="{% url 'delete' password.id %}" title="Удалить" class="delete">x</a>
            </p>
        </div>
    {% endfor %}
    <p class="right">
        <a href="{% url 'main' %}">На главную →</a>
    </p>
{% endblock %}