{% extends 'base.html' %}


{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">
            {{ msg }}
        </div>
    {% endfor %}
    <form action="/contacts" method="post">
        <p>Name:
            <input type="text" name="username" required>
        </p>
        <p>Email:
            <input type="email" name="email" required>
        </p>
        <p>Message:</p>
        <p>
          <textarea name="message" cols="40" rows="7"></textarea>
        </p>
        <p>
          <input type="submit" value="Send">
        </p>
    </form>

    {% if username and email %}
        <div>
            <h1>About user</h1>
            <p>Name: {{ username }}</p>
            <p>Email: {{ email }}</p>

            {% if message %}
                <p>Message: {{ message }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
