@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

header{
    background-color: rgb(30, 30, 30);
    min-height: 70px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

header .menu{
    display: flex;
    justify-content: space-around;
    padding: 35px 0 0;
    max-width: 500px;
    margin: 0 auto;
}

header .menu .menu-item{
    display: inline-block;
    list-style: none;
    transition: all .3s linear;
}

header .menu .menu-item .menu-item-link{
    text-decoration: none;
    color: silver;
    font-size: 12px;
}

header .menu .menu-item:hover{
    transform: scale(1.05);
}

.main{
    margin-top: 70px;
}

@media(max-width: 400px) {
    header .menu .menu-item .menu-item-link{
        font-size: 10px;
    }
}