{% extends 'first_app/base.html' %}


{% block content %}
    {% include 'user/add_page.html' %}
    <h1>Как работает генератор паролей?</h1>
    <p class="info">Генератор паролей позволит Вам получить случайную комбинацию из символов. По умолчанию это символы латинского алфавита в нижнем регистре.</p>
    <p class="info">По желаю Вы можете настроить генератор таким образом, чтобы комбинация состояла из букв латинского алфавита верхнего регистра, цифр или символов пунктуации.</p>
    <p class="info">Автор: Admin</p>
    <p class="right">
        <a href="{% url 'main' %}">На главную →</a>
    </p>
{% endblock %}