{% extends 'first_app/base.html' %}


{% block content %}
    {% include 'user/add_page.html' %}
    <h1>Ваш пароль:</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form action="{% url 'add_password' %}" method="post">
        {% csrf_token %}
        <p class="password">
            <input type="text" value="{{ password }}" name="password" readonly>
        </p>
        {% if user.is_authenticated %}
            <p class="add">
                <input type="submit" value="Добавить">
            </p>
        {% endif %}
    </form>
    <p class="right">
        <a href="{% url 'main' %}">На главную →</a>
    </p>
{% endblock %}
